<!DOCTYPE html>
<html>

<!--Header-->
<header>
  <title>Welcome to my Humble Abode</title>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <script type="text/javascript" src="/static/js/function.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<!--Body-->
<body>

  <!--NavBar-->
  <div class="navbar">
    <a href="./home.html">Home</a>
    <a class="active" href="./about.html">About</a>
  </div>

    <!--Title-->
    <div class="title">
      About Me
    </div>

    <div class="subtle">
      A picture can is worth a thousand words...
      then how many words is a video worth?
    </div>

    <iframe
      src="https://www.youtube.com/embed/kQiWAAew7gY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  <!--TODO-->
  
</body>

</html>