/************
 *
 * Filename -  base.css
 *
 * Purpose -   css for Assignment 1 pages: home.html and about.html
 *
 * Copyright:  none
 *
 ************/


/* Base */
html
{
  background-color: rgb(53, 53, 53);
  font-family: 'Merriweather', serif;
  height: 100%;
}

label
{
  color: #8cb67f;
}

body
{
  height: 100%;
}

/* NavBar */

/* Background color */
.navbar
{
  background-color: rgb(68, 68, 68);
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a
{
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 1% 4%;
  text-decoration: none;
  font-size: 150%;
}

/* Change the color of links on hover */
.navbar a:hover
{
  background-color: rgb(91, 86, 95);
  color: white;
}

/* Change the color of the links on active */
.navbar a.active
{
  background-color: rgb(40, 27, 85);
  color: white;
}

/* 
/* TODO */

/* Home */
.title
{
  color: #8cb67f;
  text-align: center;
  font-size: 250%;
  padding: 2% 2%;
  text-shadow: 2px 2px 2px #aaa;
}
.container
{
  text-align: center;
  border-radius: 50px;
  background-color: #f2f2f2;
  padding: 2% 2%;
  margin: 2%;
}

#messageinput
{
  width: 100%;
  padding: 2% 2%;
  display: inline-block;
  border-radius: 1%;
  box-sizing: border-box;
  resize: none;
  margin: 2% auto;
}

button
{
  display: inline-block;
  border-radius: 1%;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 2% 2%;
  list-style: none;
}

ul li {
  text-align: center;
  border-radius: 200px;
  font-size: 20px;
  background-color: #aae6f5;
  padding: 2% 2%;
  margin: 2%;
}

.expand_button {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 20px;
}

.date {
  float: left;
  margin: 0;
}

/*
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 20px;
}

.close:hover {
  background-color: #0306bd;
  color: rgb(255, 255, 255);
}
*/

/* Popup */

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}
.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20x;  
  background: white;  
}

/* About */

.subtle
{
  color: #6cb357;
  text-align: center;
  font-size: 200%;
  padding: 1% 1%;
}

iframe
{
  display: block;
  position: relative;
  width: 70%;
  height: 600px;
  margin: 0 auto;
}